<div class="row status-container">
	<div class="col-md-12">
		<p>Par <a href="{{ path('tech_corp_front_user_timeline', { userId : status.user.id }) }}">{{ status.user.username }}</a></p>
		<p>{{ status.content }}</p>
		<p>{{ status.createdAt|date('d-m-Y à H:i:s') }}</p>
	</div>
</div> 
<div class="col-md-12">
	{% for comment in status.comments %}
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<p>Commentaire de <a href="{{ path('tech_corp_front_user_timeline', { userId : comment.user.id }) }}">{{ comment.user.username }}</a></p>
				
				<p>{{ comment.content }}</p>
				
				<p>{{ comment.createdAt|date('Y-m-d H:i:s') }}</p>
			</div>
		</div>
	{% endfor %}
<hr>
</div>
