{% extends 'TechCorpFrontBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link href='{{ asset("css/style.css") }}' rel="stylesheet"/>
{% endblock stylesheets %}



{% block content %}
		<div class="container">
			<h1>Timeline de {{ user.username }}</h1>


			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user != user %}
				{% if not app.user.hasFriend(user) %}
					<button class="btn btn-success add-friend" data-user-id="{{ user.id }}">Ajouter à la liste d'amis</button>
				{% else %}
					<button class="btn btn-danger remove-friend" data-user-id="{{ user.id }}">Supprimer de la liste d'amis</button>
				{% endif %}
			{% endif %}
			
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user == user %}

				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						{{ form_start(form) }}
							{{ form_errors(form) }}
							<div>
								{{ form_label(form.content) }}
								{{ form_errors(form.content) }}
								{{ form_widget(form.content) }}
							</div>
							{{ form_rest(form) }}

							<input type="submit"/>
						{{ form_end(form) }}
					</div>
				</div>
			{% endif %}

			
			<div class="clearfix"></div>

			{% if Statuses != null %}
				<div class="container">
					{% for status in Statuses %}
						{% include 'TechCorpFrontBundle:_components:status.html.twig' with {'status' :status} %}

						{% if not loop.last %}
							<hr class="status-separator"/>
						{% endif %}
					{% endfor %}
				</div>
			{% else %}
				<p>
					Cet utilisateur n'a rien publié pour le moment.
				</p>
			{% endif %}
			
			<h2>liste des personnes ajoutées</h2>
			{% for currFriend in user.friends %}
				<p><a href="{{ path('tech_corp_front_user_timeline', { userId : currFriend.id }) }}">{{ currFriend.username }}</a></p>
			{% else %}
				<p>Cet utilisateur n'a pas d'amis.</p>
			{% endfor %}

		</div>
{% endblock content %}

{% block javascripts_body %}
	{{ parent() }}
	<script src='{{ asset("bundles/fosjsrouting/js/router.js") }}'></script>
	<script src='{{ path("fos_js_routing_js", {"callback": "fos.Router.setData"}) }}'></script>
	<script src='{{ asset("js/manage-friends.js") }}'></script>
{% endblock javascripts_body %}