{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}



{% block fos_user_content %}

   			<div class="block-unit" style="text-align:center; padding:8px 8px 8px 8px;">
   				<br>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
   				<br>
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                     <div class="form-group">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>  

                    <div class="form-group">                     
                        <label for="password" >{{ 'security.login.password'|trans }}</label>
                        <input class="form-control" type="password" id="password" name="_password" required="required" />
                    </div>

                    <div class="form-group">
                        <label for="remember_me"> {{ 'security.login.remember_me'|trans }} </label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    </div>
                    <hr>
                    <div class=""> 
                        <input class="btn btn-success" target="_blank" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />  
                        <a href="{{ path("tech_corp_front_homepage") }}"><button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button></a>
                    </div>
                </form>
            </div>
   		
    

    


{% endblock fos_user_content %}
